- if !flash.empty?
  - flash.keys.each do |k|
    = flash[k]

%h1= 'Картки лояльності'

%table.table
  %thead
    %tr
      %th Номер картки
      %th Ім'я
      %th Стать
      %th Дата народження
      %th Вид діяльності
      %th Тип картки
      %th Баланс Ego
      %th Мобільний
      %th E-mail
      %th Місце видачі
      %th Останній візит

      %p= will_paginate @cards

  %tbody
    - @cards.each do |card|
      %tr
        %td= card.CardNumber
        %td= card.RealName
        %td= card.Gender
        %td= card.Birthday
        %td= card.Occupation
        %td= card.TypeOfCard
        %td= card.EgoBalance
        %td= card.MobileNumber
        %td= card.email
        %td= card.Issued
        %td= card.LastBuy
        %td= link_to 'Show', card
        %td= link_to 'Edit', edit_card_path(card)
        %td= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' }
      
%p= link_to 'New Card', new_card_path

= form_tag(controller: :cards, action: :import_csv, :multipart => true ) do
  = file_field_tag :file
  = submit_tag 'Імпорт', data: { disable_with: 'Uploading' }


%span= link_to 'Clear', clear_cards_path, method: :clear, class: 'btn btn-danger'


